#addPostBox label{
    margin: 5px;
    min-height: 2em;
    max-width: 1px;
    text-wrap:wrap;
}

#addPostBox > * {
    margin: 10px;
}

#add-post-file {
    max-width: 180px;
}

#add-post-text-input textarea {
    height: 10em;
    padding: 5px;
    border-radius: 5px;
}

#add-post-text-input ~ * {
    margin-top: 30px;
}

.submitButton {
    width: 90%;
}